<launch>

    <group ns="decklink">
        <!-- launch decklink_ros -->
        <node pkg="decklink_ros" name="decklink_ros_node" type="decklink_ros_node" output="screen">
            <param name="camera_name" type="str" value="decklink"/>
            <param name="calibration_url" type="str" value="package://h_rcom_vs/config/decklink_storz_endoscope_calibrationdata/ost.yaml"/>
        </node>

        <node pkg="h_rcom_vs" name="crop_undistort_image_node" type="crop_undistort_image_node" output="screen">
            <!-- see https://answers.ros.org/question/248194/how-to-use-image_proccrop_decimate-to-crop-an-image/ -->
            <param name="x_offset" type="int" value="420"/>
            <param name="y_offset" type="int" value="0"/>
            <param name="width" type="int" value="1080"/>
            <param name="height" type="int" value="1080"/>
            <remap from="image" to="image_raw"/>
        </node>

    </group>

</launch>
    