<launch>
    <group ns="lbr">

        <!-- load parameters for homography rcom vs -->
        <rosparam command="load" file="$(find h_rcom_vs)/config/cam_params.yml"/>
        <rosparam command="load" file="$(find h_rcom_vs)/config/h_vs_params.yml"/>
        <rosparam command="load" file="$(find h_rcom_vs)/config/rcom_params.yml"/>

        <!-- launch homography generation node
                - subscribes to visual_servo/img0
                - subscribes to camera/image_raw
                - publishes to visual_servo/G 
        -->
        <node name="h_gen_node" pkg="h_vs" type="h_gen_calibration_pattern_node.py" output="screen">
            <remap from="camera/image_raw" to="endoscope_camera/image_raw"/>
        </node>

        <!-- launch homography based visual servo node
                - subscribes to visual_servo/G 
                - publishes to visual_servo/dtwist
        -->
        <node name="h_vs_node" pkg="h_vs" type="h_vs_node" output="screen"/>

        <!-- launch action server 
                - runs under action_server: 'rcom/RCoM_ActionServer', defined in config/rcom_params.yml 
        -->
        <node name="h_rcom_vs_server_node" pkg="h_rcom_vs" type="h_rcom_vs_server_node" output="screen"/>

        <!-- launch action client node 
                - subscribes to visual_servo/dtwist, rcom/p_trocar
                - requests rcom goals from action server under action_server: 'rcom/RCoM_ActionServer', defined in config/rcom_params.yml
        -->
        <node name="h_rcom_vs_client_node" pkg="h_rcom_vs" type="h_rcom_vs_client_node" output="screen"/>
    </group>

</launch>
