<launch>
    <arg name="image_topic" default="/lbr/storz_endoscope_camera/image_raw"/>

    <group ns="lbr">
        <!-- load params -->
        <rosparam command="load" file="$(find h_rcm_vs)/config/four_dof_params.yml"/>

        <!-- launch action server 
                - runs under action_server: 'h_rcm_vs/RCM_ActionServer', defined in config/four_dof_params.yml 
        -->
        <node name="h_rcm_vs_server_node" pkg="h_rcm_vs" type="h_rcm_vs_server_node" output="screen"/>

        <!-- launch action client node
                - subscribes to camera/image_raw
                - publishes to visual_servo/img0
        -->
        <node name="rcm_init_node" pkg="h_rcm_vs" type="rcm_init_node" output="screen">
            <remap from="camera/image_raw" to="$(arg image_topic)"/>
        </node>

    </group>

</launch>